/*light*/

.markdown-content {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  color: oklch(var(--n));
  background-color: transparent;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
  scroll-behavior: auto;
}

.markdown-content .octicon {
  display: inline-block;
  fill: currentColor;
  vertical-align: text-bottom;
}

.markdown-content h1:hover .anchor .octicon-link:before,
.markdown-content h2:hover .anchor .octicon-link:before,
.markdown-content h3:hover .anchor .octicon-link:before,
.markdown-content h4:hover .anchor .octicon-link:before,
.markdown-content h5:hover .anchor .octicon-link:before,
.markdown-content h6:hover .anchor .octicon-link:before {
  width: 16px;
  height: 16px;
  content: " ";
  display: inline-block;
  background-color: currentColor;
  -webkit-mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
  mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
}

.markdown-content details,
.markdown-content figcaption,
.markdown-content figure {
  display: block;
}

.markdown-content summary {
  display: list-item;
}

.markdown-content [hidden] {
  display: none !important;
}

.markdown-content a {
  background-color: transparent;
  color: oklch(var(--p));
  text-decoration: none;
}

.markdown-content abbr[title] {
  border-bottom: none;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

.markdown-content b,
.markdown-content strong {
  font-weight: 600;
}

.markdown-content dfn {
  font-style: italic;
}

.markdown-content h1 {
  margin: 0.67em 0;
  font-weight: 600;
  padding-bottom: 0.3em;
  font-size: 2em;
  border-bottom: 1px solid oklch(var(--nc));
}

.markdown-content mark {
  background-color: #fff8c5;
  color: oklch(var(--n));
}

.markdown-content small {
  font-size: 90%;
}

.markdown-content sub,
.markdown-content sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

.markdown-content sub {
  bottom: -0.25em;
}

.markdown-content sup {
  top: -0.5em;
}

.markdown-content img {
  border-style: none;
  max-width: 100%;
  box-sizing: content-box;
  background-color: oklch(var(--b1));
}

.markdown-content code,
.markdown-content kbd,
.markdown-content pre,
.markdown-content samp {
  font-family: monospace;
  font-size: 1em;
}

.markdown-content figure {
  margin: 1em 40px;
}

.markdown-content hr {
  box-sizing: content-box;
  overflow: hidden;
  background: transparent;
  border-bottom: 1px solid oklch(var(--nc));
  height: 0.25em;
  padding: 0;
  margin: 24px 0;
  background-color: oklch(var(--b2));
  border: 0;
}

.markdown-content input {
  font: inherit;
  margin: 0;
  overflow: visible;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.markdown-content [type="button"],
.markdown-content [type="reset"],
.markdown-content [type="submit"] {
  -webkit-appearance: button;
  appearance: button;
}

.markdown-content [type="checkbox"],
.markdown-content [type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

.markdown-content [type="number"]::-webkit-inner-spin-button,
.markdown-content [type="number"]::-webkit-outer-spin-button {
  height: auto;
}

.markdown-content [type="search"]::-webkit-search-cancel-button,
.markdown-content [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

.markdown-content ::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

.markdown-content ::-webkit-file-upload-button {
  -webkit-appearance: button;
  appearance: button;
  font: inherit;
}

.markdown-content a:hover {
  text-decoration: underline;
}

.markdown-content ::placeholder {
  color: oklch(var(--nc));
  opacity: 1;
}

.markdown-content hr::before {
  display: table;
  content: "";
}

.markdown-content hr::after {
  display: table;
  clear: both;
  content: "";
}

.markdown-content table {
  border-spacing: 0;
  border-collapse: collapse;
  display: block;
  width: max-content;
  max-width: 100%;
  overflow: auto;
}

.markdown-content td,
.markdown-content th {
  padding: 0;
}

.markdown-content details summary {
  cursor: pointer;
}

.markdown-content details:not([open]) > *:not(summary) {
  display: none;
}

.markdown-content a:focus,
.markdown-content [role="button"]:focus,
.markdown-content input[type="radio"]:focus,
.markdown-content input[type="checkbox"]:focus {
  outline: 2px solid oklch(var(--pc));
  outline-offset: -2px;
  box-shadow: none;
}

.markdown-content a:focus:not(:focus-visible),
.markdown-content [role="button"]:focus:not(:focus-visible),
.markdown-content input[type="radio"]:focus:not(:focus-visible),
.markdown-content input[type="checkbox"]:focus:not(:focus-visible) {
  outline: solid 1px transparent;
}

.markdown-content a:focus-visible,
.markdown-content [role="button"]:focus-visible,
.markdown-content input[type="radio"]:focus-visible,
.markdown-content input[type="checkbox"]:focus-visible {
  outline: 2px solid oklch(var(--pc));
  outline-offset: -2px;
  box-shadow: none;
}

.markdown-content a:not([class]):focus,
.markdown-content a:not([class]):focus-visible,
.markdown-content input[type="radio"]:focus,
.markdown-content input[type="radio"]:focus-visible,
.markdown-content input[type="checkbox"]:focus,
.markdown-content input[type="checkbox"]:focus-visible {
  outline-offset: 0;
}

.markdown-content kbd {
  display: inline-block;
  padding: 3px 5px;
  font:
    11px ui-monospace,
    SFMono-Regular,
    SF Mono,
    Menlo,
    Consolas,
    Liberation Mono,
    monospace;
  line-height: 10px;
  color: oklch(var(--n));
  vertical-align: middle;
  background-color: oklch(var(--b1));
  border: solid 1px oklch(var(--b2));
  border-bottom-color: oklch(var(--b2));
  border-radius: 6px;
  box-shadow: inset 0 -1px 0 oklch(var(--b2));
}

.markdown-content h1,
.markdown-content h2,
.markdown-content h3,
.markdown-content h4,
.markdown-content h5,
.markdown-content h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
  color: oklch(var(--bc));
}

.markdown-content h2 {
  font-weight: 600;
  padding-bottom: 0.3em;
  font-size: 1.5em;
  border-bottom: 1px solid oklch(var(--nc));
}

.markdown-content h3 {
  font-weight: 600;
  font-size: 1.25em;
}

.markdown-content h4 {
  font-weight: 600;
  font-size: 1em;
}

.markdown-content h5 {
  font-weight: 600;
  font-size: 0.875em;
}

.markdown-content h6 {
  font-weight: 600;
  font-size: 0.85em;
  color: oklch(var(--nc));
}

.markdown-content p {
  margin-top: 0;
  margin-bottom: 10px;
}

.markdown-content blockquote {
  margin: 0;
  padding: 0 1em;
  color: oklch(var(--nc));
  border-left: 0.25em solid oklch(var(--b2));
}

.markdown-content ul,
.markdown-content ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 2em;
  list-style-type: decimal;
}

.markdown-content ol ol,
.markdown-content ul ol {
  list-style-type: lower-roman;
}

.markdown-content ul ul ol,
.markdown-content ul ol ol,
.markdown-content ol ul ol,
.markdown-content ol ol ol {
  list-style-type: lower-alpha;
}

.markdown-content dd {
  margin-left: 0;
}

.markdown-content tt,
.markdown-content code,
.markdown-content samp {
  font-family:
    ui-monospace,
    SFMono-Regular,
    SF Mono,
    Menlo,
    Consolas,
    Liberation Mono,
    monospace;
  font-size: 12px;
}

.markdown-content pre {
  margin-top: 0;
  margin-bottom: 0;
  font-family:
    ui-monospace,
    SFMono-Regular,
    SF Mono,
    Menlo,
    Consolas,
    Liberation Mono,
    monospace;
  font-size: 12px;
  word-wrap: normal;
}

.markdown-content .octicon {
  display: inline-block;
  overflow: visible !important;
  vertical-align: text-bottom;
  fill: currentColor;
}

.markdown-content input::-webkit-outer-spin-button,
.markdown-content input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
}

.markdown-content .mr-2 {
  margin-right: 0.5rem !important;
}

.markdown-content::before {
  display: table;
  content: "";
}

.markdown-content::after {
  display: table;
  clear: both;
  content: "";
}

.markdown-content > *:first-child {
  margin-top: 0 !important;
}

.markdown-content > *:last-child {
  margin-bottom: 0 !important;
}

.markdown-content a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.markdown-content .absent {
  color: oklch(var(--er));
}

.markdown-content .anchor {
  float: left;
  padding-right: 4px;
  margin-left: -20px;
  line-height: 1;
}

.markdown-content .anchor:focus {
  outline: none;
}

.markdown-content p,
.markdown-content blockquote,
.markdown-content ul,
.markdown-content ol,
.markdown-content dl,
.markdown-content table,
.markdown-content pre,
.markdown-content details {
  margin-top: 0;
  margin-bottom: 16px;
  color: oklch(var(--bc));
}

.markdown-content blockquote > :first-child {
  margin-top: 0;
}

.markdown-content blockquote > :last-child {
  margin-bottom: 0;
}

.markdown-content h1 .octicon-link,
.markdown-content h2 .octicon-link,
.markdown-content h3 .octicon-link,
.markdown-content h4 .octicon-link,
.markdown-content h5 .octicon-link,
.markdown-content h6 .octicon-link {
  color: oklch(var(--n));
  vertical-align: middle;
  visibility: hidden;
}

.markdown-content h1:hover .anchor,
.markdown-content h2:hover .anchor,
.markdown-content h3:hover .anchor,
.markdown-content h4:hover .anchor,
.markdown-content h5:hover .anchor,
.markdown-content h6:hover .anchor {
  text-decoration: none;
}

.markdown-content h1:hover .anchor .octicon-link,
.markdown-content h2:hover .anchor .octicon-link,
.markdown-content h3:hover .anchor .octicon-link,
.markdown-content h4:hover .anchor .octicon-link,
.markdown-content h5:hover .anchor .octicon-link,
.markdown-content h6:hover .anchor .octicon-link {
  visibility: visible;
}

.markdown-content h1 tt,
.markdown-content h1 code,
.markdown-content h2 tt,
.markdown-content h2 code,
.markdown-content h3 tt,
.markdown-content h3 code,
.markdown-content h4 tt,
.markdown-content h4 code,
.markdown-content h5 tt,
.markdown-content h5 code,
.markdown-content h6 tt,
.markdown-content h6 code {
  padding: 0 0.2em;
  font-size: inherit;
}

.markdown-content summary h1,
.markdown-content summary h2,
.markdown-content summary h3,
.markdown-content summary h4,
.markdown-content summary h5,
.markdown-content summary h6 {
  display: inline-block;
}

.markdown-content summary h1 .anchor,
.markdown-content summary h2 .anchor,
.markdown-content summary h3 .anchor,
.markdown-content summary h4 .anchor,
.markdown-content summary h5 .anchor,
.markdown-content summary h6 .anchor {
  margin-left: -40px;
}

.markdown-content summary h1,
.markdown-content summary h2 {
  padding-bottom: 0;
  border-bottom: 0;
}

.markdown-content ul.no-list,
.markdown-content ol.no-list {
  padding: 0;
  list-style-type: none;
}

.markdown-content ol[type="a s"] {
  list-style-type: lower-alpha;
}

.markdown-content ol[type="A s"] {
  list-style-type: upper-alpha;
}

.markdown-content ol[type="i s"] {
  list-style-type: lower-roman;
}

.markdown-content ol[type="I s"] {
  list-style-type: upper-roman;
}

.markdown-content ol[type="1"] {
  list-style-type: decimal;
}

.markdown-content div > ol:not([type]) {
  list-style-type: decimal;
}

.markdown-content ul ul,
.markdown-content ul ol,
.markdown-content ol ol,
.markdown-content ol ul {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: disc;
}

.markdown-content li > p {
  margin-top: 16px;
}

.markdown-content li + li {
  margin-top: 0.25em;
}

.markdown-content dl {
  padding: 0;
}

.markdown-content dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
}

.markdown-content dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

.markdown-content table th {
  font-weight: 600;
}

.markdown-content table th,
.markdown-content table td {
  padding: 6px 13px;
  border: 1px solid oklch(var(--b2));
}

.markdown-content table td > :last-child {
  margin-bottom: 0;
}

.markdown-content table tr {
  background-color: oklch(var(--b1));
  border-top: 1px solid oklch(var(--nc));
}

.markdown-content table tr:nth-child(2n) {
  background-color: oklch(var(--b1));
}

.markdown-content table img {
  background-color: transparent;
}

.markdown-content img[align="right"] {
  padding-left: 20px;
}

.markdown-content img[align="left"] {
  padding-right: 20px;
}

.markdown-content .emoji {
  max-width: none;
  vertical-align: text-top;
  background-color: transparent;
}

.markdown-content span.frame {
  display: block;
  overflow: hidden;
}

.markdown-content span.frame > span {
  display: block;
  float: left;
  width: auto;
  padding: 7px;
  margin: 13px 0 0;
  overflow: hidden;
  border: 1px solid oklch(var(--b2));
}

.markdown-content span.frame span img {
  display: block;
  float: left;
}

.markdown-content span.frame span span {
  display: block;
  padding: 5px 0 0;
  clear: both;
  color: oklch(var(--n));
}

.markdown-content span.align-center {
  display: block;
  overflow: hidden;
  clear: both;
}

.markdown-content span.align-center > span {
  display: block;
  margin: 13px auto 0;
  overflow: hidden;
  text-align: center;
}

.markdown-content span.align-center span img {
  margin: 0 auto;
  text-align: center;
}

.markdown-content span.align-right {
  display: block;
  overflow: hidden;
  clear: both;
}

.markdown-content span.align-right > span {
  display: block;
  margin: 13px 0 0;
  overflow: hidden;
  text-align: right;
}

.markdown-content span.align-right span img {
  margin: 0;
  text-align: right;
}

.markdown-content span.float-left {
  display: block;
  float: left;
  margin-right: 13px;
  overflow: hidden;
}

.markdown-content span.float-left span {
  margin: 13px 0 0;
}

.markdown-content span.float-right {
  display: block;
  float: right;
  margin-left: 13px;
  overflow: hidden;
}

.markdown-content span.float-right > span {
  display: block;
  margin: 13px auto 0;
  overflow: hidden;
  text-align: right;
}

.markdown-content code,
.markdown-content tt {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  white-space: break-spaces;
  background-color: oklch(var(--b2));
  border-radius: 6px;
  color: oklch(var(--bc));
}

.markdown-content code br,
.markdown-content tt br {
  display: none;
}

.markdown-content del code {
  text-decoration: inherit;
}

.markdown-content samp {
  font-size: 85%;
}

.markdown-content pre code {
  font-size: 100%;
}

.markdown-content pre::-webkit-scrollbar {
  height: 4px;
}

.markdown-content pre > code {
  padding: 0;
  margin: 0;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

.markdown-content .highlight {
  margin-bottom: 16px;
}

.markdown-content .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

.markdown-content .highlight pre,
.markdown-content pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  color: oklch(var(--n));
  background-color: oklch(var(--b2));
  border-radius: 6px;
  position: relative;
}

.markdown-content pre code,
.markdown-content pre tt {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

.markdown-content pre:hover .markdown-content-copy {
  opacity: 1;
}

.markdown-content pre .markdown-content-copy {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 3px;
  padding: 2px 10px;
  font-size: 12px;
  font-family:
    Lato,
    PingFang SC,
    Microsoft YaHei,
    sans-serif;
  font-weight: normal;
  background: oklch(var(--b3));
  color: oklch(var(--bc));
  cursor: pointer;
  opacity: 0;
  margin: 2px 10px;
  transition: all 0.3s;
  z-index: 5;
  user-select: none;
}

.markdown-content .csv-data td,
.markdown-content .csv-data th {
  padding: 5px;
  overflow: hidden;
  font-size: 12px;
  line-height: 1;
  text-align: left;
  white-space: nowrap;
}

.markdown-content .csv-data .blob-num {
  padding: 10px 8px 9px;
  text-align: right;
  background: oklch(var(--b1));
  border: 0;
}

.markdown-content .csv-data tr {
  border-top: 0;
}

.markdown-content .csv-data th {
  font-weight: 600;
  background: oklch(var(--b1));
  border-top: 0;
}

.markdown-content [data-footnote-ref]::before {
  content: "[";
}

.markdown-content [data-footnote-ref]::after {
  content: "]";
}

.markdown-content .footnotes {
  font-size: 12px;
  color: oklch(var(--nc));
  border-top: 1px solid oklch(var(--b2));
}

.markdown-content .footnotes ol {
  padding-left: 16px;
}

.markdown-content .footnotes ol ul {
  display: inline-block;
  padding-left: 16px;
  margin-top: 16px;
}

.markdown-content .footnotes li {
  position: relative;
}

.markdown-content .footnotes li:target::before {
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -24px;
  pointer-events: none;
  content: "";
  border: 2px solid oklch(var(--pc));
  border-radius: 6px;
}

.markdown-content .footnotes li:target {
  color: oklch(var(--n));
}

.markdown-content .footnotes .data-footnote-backref g-emoji {
  font-family: monospace;
}

.markdown-content .pl-c {
  color: oklch(var(--b2));
}

.markdown-content .pl-c1,
.markdown-content .pl-s .pl-v {
  color: oklch(var(--pc));
}

.markdown-content .pl-e,
.markdown-content .pl-en {
  color: oklch(var(--in));
}

.markdown-content .pl-smi,
.markdown-content .pl-s .pl-s1 {
  color: oklch(var(--b3));
}

.markdown-content .pl-ent {
  color: oklch(var(--pc));
}

.markdown-content .pl-k {
  color: oklch(var(--e));
}

.markdown-content .pl-s,
.markdown-content .pl-pds,
.markdown-content .pl-s .pl-pse .pl-s1,
.markdown-content .pl-sr,
.markdown-content .pl-sr .pl-cce,
.markdown-content .pl-sr .pl-sre,
.markdown-content .pl-sr .pl-sra {
  color: oklch(var(--in));
}

.markdown-content .pl-v,
.markdown-content .pl-smw {
  color: oklch(var(--s));
}

.markdown-content .pl-bu {
  color: oklch(var(--s));
}

.markdown-content .pl-ii {
  color: oklch(var(--b1));
  background-color: oklch(var(--s));
}

.markdown-content .pl-c2 {
  color: oklch(var(--b1));
  background-color: oklch(var(--e));
}

.markdown-content .pl-sr .pl-cce {
  font-weight: bold;
  color: oklch(var(--a));
}

.markdown-content .pl-ml {
  color: oklch(var(--ac));
}

.markdown-content .pl-mh,
.markdown-content .pl-mh .pl-en,
.markdown-content .pl-ms {
  font-weight: bold;
  color: oklch(var(--pc));
}

.markdown-content .pl-mi {
  font-style: italic;
  color: oklch(var(--b3));
}

.markdown-content .pl-mb {
  font-weight: bold;
  color: oklch(var(--b3));
}

.markdown-content .pl-md {
  color: oklch(var(--s));
  background-color: oklch(var(--b2));
}

.markdown-content .pl-mi1 {
  color: oklch(var(--a));
  background-color: #dafbe1;
}

.markdown-content .pl-mc {
  color: oklch(var(--s));
  background-color: #ffd8b5;
}

.markdown-content .pl-mi2 {
  color: #eaeef2;
  background-color: oklch(var(--pc));
}

.markdown-content .pl-mdr {
  font-weight: bold;
  color: #8250df;
}

.markdown-content .pl-ba {
  color: oklch(var(--b2));
}

.markdown-content .pl-sg {
  color: #8c959f;
}

.markdown-content .pl-corl {
  text-decoration: underline;
  color: oklch(var(--in));
}

.markdown-content [role="button"]:focus:not(:focus-visible),
.markdown-content [role="tabpanel"][tabindex="0"]:focus:not(:focus-visible),
.markdown-content button:focus:not(:focus-visible),
.markdown-content summary:focus:not(:focus-visible),
.markdown-content a:focus:not(:focus-visible) {
  outline: none;
  box-shadow: none;
}

.markdown-content [tabindex="0"]:focus:not(:focus-visible),
.markdown-content details-dialog:focus:not(:focus-visible) {
  outline: none;
}

.markdown-content g-emoji {
  display: inline-block;
  min-width: 1ch;
  font-family: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1em;
  font-style: normal !important;
  font-weight: 400;
  line-height: 1;
  vertical-align: -0.075em;
}

.markdown-content g-emoji img {
  width: 1em;
  height: 1em;
}

.markdown-content .task-list-item {
  list-style-type: none;
}

.markdown-content .task-list-item label {
  font-weight: 400;
}

.markdown-content .task-list-item.enabled label {
  cursor: pointer;
}

.markdown-content .task-list-item + .task-list-item {
  margin-top: 0.25rem;
}

.markdown-content .task-list-item .handle {
  display: none;
}

.markdown-content .task-list-item-checkbox {
  margin: 0 0.2em 0.25em -1.4em;
  vertical-align: middle;
}

.markdown-content .contains-task-list:dir(rtl) .task-list-item-checkbox {
  margin: 0 -1.6em 0.25em 0.2em;
}

.markdown-content .contains-task-list {
  position: relative;
}

.markdown-content .contains-task-list:hover .task-list-item-convert-container,
.markdown-content .contains-task-list:focus-within .task-list-item-convert-container {
  display: block;
  width: auto;
  height: 24px;
  overflow: visible;
  clip: auto;
}

.markdown-content ::-webkit-calendar-picker-indicator {
  filter: invert(50%);
}

.markdown-content .markdown-alert {
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  color: inherit;
  border-left: 0.25em solid oklch(var(--b2));
}

.markdown-content .markdown-alert > :first-child {
  margin-top: 0;
}

.markdown-content .markdown-alert > :last-child {
  margin-bottom: 0;
}

.markdown-content .markdown-alert .markdown-alert-title {
  display: flex;
  font-weight: 500;
  align-items: center;
  line-height: 1;
}

.markdown-content .markdown-alert.markdown-alert-note {
  border-left-color: oklch(var(--pc));
}

.markdown-content .markdown-alert.markdown-alert-note .markdown-alert-title {
  color: oklch(var(--pc));
}

.markdown-content .markdown-alert.markdown-alert-important {
  border-left-color: #8250df;
}

.markdown-content .markdown-alert.markdown-alert-important .markdown-alert-title {
  color: #8250df;
}

.markdown-content .markdown-alert.markdown-alert-warning {
  border-left-color: #bf8700;
}

.markdown-content .markdown-alert.markdown-alert-warning .markdown-alert-title {
  color: #9a6700;
}

.markdown-content .markdown-alert.markdown-alert-tip {
  border-left-color: #1a7f37;
}

.markdown-content .markdown-alert.markdown-alert-tip .markdown-alert-title {
  color: #1a7f37;
}

.markdown-content .markdown-alert.markdown-alert-caution {
  border-left-color: oklch(var(--e));
}

.markdown-content .markdown-alert.markdown-alert-caution .markdown-alert-title {
  color: oklch(var(--er));
}

.markdown-content > *:first-child > .heading-element:first-child {
  margin-top: 0 !important;
}

.markdown-p-text {
  background: linear-gradient(90deg, oklch(var(--bc)) 0%, oklch(var(--bc)) 50%, transparent 100%);
  background-size: 200% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: markdown-p-progress 1.5s infinite;
}

@keyframes markdown-p-progress {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: 0 0;
  }
}
